<div class="col-md-4">
     <div class="service-img">
         {{fields.field_service_image.content}}
     </div>
     <h4 class="service-title"><a href="#">
     {{fields.title.content}}
   
     </a>
     </h4>
   <p>
       <span class="textcenter">
            {{fields.body.content}}
   
       </span>
   </p>
  

</div>